<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
</head>
<body>
    <% cart.forEach(CartItem => { %>
    <p><%= CartItem.name %></p>
    <p><%= CartItem.price %></p>
    <p><%= CartItem.quantity %></p>
    <% }) %>
    <p>Total: $<%= total %></p>
    <form action="/checkout" method="POST">
  <button type="submit">Checkout</button>
</form>
</body>
</html>