<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Histroy</title>
</head>
<body>
        <% orders.forEach(order => { %>
        <a href="/order/<%= order.id %>"><p><%= order.id %></p></a>
            <p><%= order.status %></p>
            <p><%= order.created_at %></p>
        <% }) %>
</body>
</html>